:root {
  --primary:#22264b;
  --secondry:#e6cf8b;
  --tertiary:#b56969;
}
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	font-family: Montserrat , sans-serif;
	font-weight: 400;
	height: 100%
}
/*Header Section*/
header{
	width: 100%;
	height: 60px;
	background-color: var(--primary);
}
nav {
	position: static;
	width: 100%;
}
.logo {
	float: left;
	padding: 8px 2.5%;
	margin-left: 16px;
	margin-top: 8px;
}
h1{
	position: static;
}

nav ul {
	float: right;
  padding-right: 2.5%;
}

nav ul li {
	display: inline-block;
	float: left;

}
nav ul li a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid #ba9077;
}

nav ul li:not(:first-child) {
	margin-left: 48px;
}

nav ul li:last-child {
	margin-right: 24px;
}

nav ul li a {
	display: inline-block;
	outline: none;
	color: #F9F8F9;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1.2px;
	font-weight: 600;
}


#nav:checked + .nav-btn {
	transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
	background: #000;
	transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
	opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
	z-index: 9990;
	opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
	opacity: 1;
	transform: translateX(0);
}
/*Section Home1*/
  .hm-sc1{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background-color: #22264b;
    height: 90vh;
    color: white;
  }
  .hm-sc1 content{
    display: grid;
    grid-template-columns: 60% auto;
    padding: 0 5%;
  }
  .hm-sc1 .greating{
    width: 75%;
    margin: 15% auto;
  }
  .hm-sc1 .greating .g1{
    color: var(--secondry);
    font-size: 45pt;
  }
  .hm-sc1 .greating .g2{
  font-size: 50pt;
  }
  .hm-sc1 .greating .g3{
    font-size: 30pt;
  }
  .hm-sc1 .animate{
    padding: 5em;
  }
/*Section 2 Home*/
.hm-sc2{
  width: 100%;
	padding: 0 5em 5em 5em ;
	text-align: center;
	position: relative;
}
.hm-sc2 .aboutme{
  width: 50%;
  margin: 0 auto 5em auto;
}
#avatar{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	background-image: url(../image/av.JPG);
	background-size: cover;
	margin: 4em auto;

}
.cardsection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.card{
  display: inline-block;
  height: 150px;
}

.hm-sc2::after{
  width: 100%;
  height: 100px;
  background-color: red;
}

/*Section EduEx*/
.hm-sc3{
  background-color: #F5F5F6;
  padding: 2em 0;
}
.hm-sc3 h1{
	text-align: center;
	padding: 1em 0;
}
.hm-sc3 h1:hover{
	text-decoration: underline;
	text-decoration-color: #e6cf8b
}
.timeline{
	position: relative;
	margin: 50px auto;
	padding: 10px 0;
	width: 80%;
}
.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background-color:gray;
}
.timeline ul{
	margin: 0;
	padding: 0;
}
.timeline ul li{
	list-style: none;
	line-height: normal;
	position: relative;
	width: 50%;
	box-sizing: border-box;
	padding: 10px 20px;
}
.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}
.timeline ul li:nth-child(odd):before{
	content: '';
	position: absolute;
	top: 24px;
	right:  -8px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #b56969;
	box-shadow: 0 0 0 3px rgba(181, 105, 105, 0.3);
}
.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}
.timeline ul li:nth-child(even):before{
	content: '';
	position: absolute;
	top: 24px;
	left:   -8px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #b56969;
	box-shadow: 0 0 0 3px rgba(181, 105, 105, 0.3);
}
.timeline ul li b{
	padding: 0;
	margin: 0;
	color: #b56969;
}
.timeline ul li .time{
	display: inline-block;
	padding: 5px 10px;
	color: white;
	background-color: var(--primary);
	border-radius: 10px;
	text-align: center;
}


/*Home Section 4*/
.hm-sc4{
  text-align: center;
  padding: 6em 0;
  margin-bottom: 60px
}
.skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  padding: 0 5%;
  margin-top: 5em;
}
.skill-title{
  margin-bottom:  15px;
  font-size: 16px;
}
.skills span{
  color: var(--tertiary);
  font-size: 15px;
}

/*Section hm-sec5*/
.hm-sc5{
  background-color: var(--primary);
  position: relative;
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  color: white;
  padding-top: 70px;
  padding-bottom: 10px;
}
.hm-sc5 ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.hm-sc5 ul li{
  list-style: none;
}
.hm-sc5 ul li a{
  position: relative;
  width: 45px;
  height: 45px;
  background:linear-gradient(0deg, #ddd,#fff);
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(229, 229, 229, 0.2);
  transition: .5s;
}
.hm-sc5 ul li a:hover{
  box-shadow: 0 2px 5px rgba(229, 229, 229, 0.2);
}
.hm-sc5 ul li a .fa{
  width: 100%;
  height: 100%;
  display: block;
  background:linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(45px - 10px);
  font-size: 18px;
  color: #262626;
  transition: .5s;
}
.hm-sc5 ul li:nth-child(1) a:hover .fa{
  color:#3b5998;
}
.hm-sc5 ul li:nth-child(2) a:hover .fa{
  color:#bc2a8d;
}
.hm-sc5 ul li:nth-child(3) a:hover .fa{
  color:#007bb6;
}
.hm-sc5 ul li:nth-child(4) a:hover .fa{
  color:#ea4c89;
}
.hm-sc5 ul li:nth-child(5) a:hover .fa{
  color:#333;
}
.byme{
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-width: 864px) {
	.logo {
		padding-top:  10px;

	}

	.nav-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color:  white;
		opacity: 0;
		transition: all 0.2s ease;
	}

	.nav-wrapper ul {
		position: absolute;
		top: 50%;
		left: -10%;
		transform: translateY(-50%);
		width: 100%;
	}

	.nav-wrapper ul li {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}

	.nav-wrapper ul li:nth-child(1) a {
		transition-delay: 0.2s;
	}

	.nav-wrapper ul li:nth-child(2) a {
		transition-delay: 0.3s;
	}

	.nav-wrapper ul li:nth-child(3) a {
		transition-delay: 0.4s;
	}

	.nav-wrapper ul li:nth-child(4) a {
		transition-delay: 0.5s;
	}

	.nav-wrapper ul li:not(:first-child) {
		margin-left: 0;
	}

	.nav-wrapper ul li a {
		padding: 10px 24px;
		opacity: 0;
		color: #22264b;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1.2px;
		transform: translateX(-20px);
		transition: all 0.2s ease;
	}

	.nav-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}

	.nav-btn i {
		display: block;
		width: 20px;
		height: 2px;
		background: #fff;
		border-radius: 2px;
		margin-left: 14px;
	}


	.nav-btn i:nth-child(1) {
		margin-top: 16px;
	}

	.nav-btn i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
    width: 16px;

	}

	.nav-btn i:nth-child(3) {
		margin-top: 4px;
	}
  .hm-sc1 content{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
  .hm-sc1 .greating{
    width: 100%;
    margin: 0;
  }
  .hm-sc1 .animate{

  }
  .hm-sc1 .greating .g1{
    color: var(--secondry);
    font-size: 15pt;
  }
  .hm-sc1 .greating .g2{
  font-size: 20pt;
  }
  .hm-sc1 .greating .g3{
    font-size: 10pt;
  }
  .hm-sc1{
    clear: both;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background-color: #22264b;
    height: 90vh;
    color: white;
  }
  .hm-sc1 .greating{
  	color: white;
  	width: 80%;
  	margin: 0 auto;
  	padding: 3em 0;
  	text-align: center;
    min-height: 250px;
  }

  .hm-sc1 .animate{
    padding: 3em;
    margin-bottom: 2em;
  }
  .typed-cursor{
    visibility: hidden;
  }

  /*Section hm-sec2*/
  .hm-sc2 section{
    width: 100%;
  }
  .cardsection{
    display: grid;
    grid-template-columns: 1fr;
  }
  .hm-sc2 .aboutme{
    width: 100%;
  }

  /*Section hm-sec4*/
  .hm-sc4 .skills{
    display: grid;
    grid-template-columns: 1fr;
  }
}
